:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

button {
  display: block;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 0.5rem;
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

/* Start Sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}

.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 80px;
  height: 2px;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}

.sidebar > h3::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 50%;
  bottom: calc(-20px - 5px);
  transform: translateX(-50%);
  border: 2px solid white;
}

.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}

.sidebar ul li span {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 62px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
}
/* End Sidebar */

/* Start Content */
.content {
  overflow: hidden;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
  border: 1px solid #ccc;
  padding-left: 35px;
  width: 160px;
  transition: 0.3s;
}
.head .search input:focus {
  width: 200px;
}

.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -1px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  height: 4px;
  border-radius: 4px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.page h1::before {
  background-color: white;
  width: 120px;
}

.page h1::after {
  background-color: black;
  width: 40px;
}

.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-inline: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-inline: 10px;
    gap: 10px;
  }
}
/* End Content */

/* Start Welcome widget */
.welcome {
  overflow: hidden;
}

.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}

.welcome .intro img {
  width: 170px;
}

.welcome .body {
  border-bottom: 1px solid #eee;
}

.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0px;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
  .welcome .body div span {
    margin-top: 5px;
  }
}
/* End Welcome widget */

/* Start Quick Draft Widget */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}
.quick-draft .save {
  margin-left: auto;
}
/* End Quick Draft Widget */

/* Start Targets */
.target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.target-row .details {
  flex: 1;
}
.target-row .details .progress {
  height: 4px;
}
.target-row .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.details .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 12px;
}

.details .progress > span span::after {
  content: "";
  position: absolute;
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}

.details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}

.details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
  background-color: rgba(0, 177, 255, 25%);
}
.orange .icon,
.orange .progress {
  background-color: rgba(245, 158, 11, 25%);
}
.green .icon,
.green .progress {
  background-color: rgba(34, 197, 94, 25%);
}
/* End Targets */

/* Start Tickets */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 20px);
}

@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* End Tickets */

/* Start Latest News */
.latest-news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.label {
  font-size: 13px;
}
.latest-news .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}
.latest-news .info {
  flex: 1;
}
.latest-news .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .latest-news .news-row {
    display: block;
  }
  .latest-news .news-row img {
    width: 100%;
  }
  .label {
    width: fit-content;
    margin: 10px auto;
  }
}
/* End Latest News */

/* Start Tasks */
.tasks .task-row:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.tasks .info {
  flex: 1;
}
/* End Tasks */
/* Start Latest Uploads */
.latest-uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
  width: 40px;
  height: 40px;
}
.latest-uploads .file-size {
  width: 4.5rem;
}
/* End Latest Uploads */
/* Start current Project */
.current-project ul::before {
  content: "";
  position: absolute;
  left: 9px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.current-project li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  z-index: 1;
}
.current-project li.done::before {
  background-color: var(--blue-color);
}
.current-project li.current::before {
  animation: change-color 3s infinite alternate-reverse;
}
.current-project .launch-icon {
  position: absolute;
  width: 160px;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
/* End current Project */
/* Start Reminders */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
/* End Reminders */
/* Start Latest Post  */
.latest-post .avatar {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  text-transform: capitalize;
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/* End Latest Post  */
/* Start Social Media  */
.social-media .box {
  padding-left: 70px;
}
.social-media .box i {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  width: 52px;
}
.social-media .box i:hover {
  transform: rotate(5deg);
}
.social-media .twitter {
  background-color: #1da0f26c;
  color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}

.social-media .facebook {
  background-color: rgba(24, 119, 242, 20%);
  color: #1da1f2;
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: #1da1f2;
}

.social-media .youtube {
  background-color: rgba(255, 0, 0, 20%);
  color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
  background-color: #ff0000;
}
/* End Social Media */
/*  Start Projects Table */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects thead td {
  background-color: #eee;
  font-weight: bold;
}

.projects table td {
  padding: 15px;
  transition: 0.5s;
}
.projects table td:last-child {
  border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  padding: 2px;
}
.projects table img:not(:first-child) {
  margin-left: -15px;
}
/*  End Projects Table */

/*  Start Settings Page */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.settings-page .close-message {
  resize: none;
  min-height: 160px;
}
.settings-page .email {
  display: inline-flex;
  width: calc(100% - 80px);
}
.settings-page .social-boxes i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
}
.settings-page .social-boxes input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0px 6px 6px 0px;
}

.settings-page .social-boxes > div:focus-within i {
  color: black;
}
.widgests-control .control label {
  padding-left: 25px;
}

.widgests-control .control label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid var(--grey-color);
  margin-top: -8px;
  border-radius: 3px;
}

.widgests-control .control label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  content: "\f00c";
  font-weight: 900;
  font-family: var(--fa-style-family-classic);
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.widgests-control input {
  --webkit-appearance: none;
  appearance: none;
  display: none;
}
.widgests-control input:checked + label::after {
  transform: scale(1);
}

.backup-control .date input {
  --webkit-appearance: none;
  appearance: none;
  display: none;
}
.backup-control .date label {
  padding-left: 30px;
}
.backup-control .date label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -8px;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.636);
  border-radius: 50%;
}
.backup-control .date label::after {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 4px;
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0);
}
.backup-control .date input:checked + label::after {
  transform: scale(1.1);
}
.backup-control .date input:checked + label::before {
  border: 2px solid var(--blue-color);
}
.backup-control .servers {
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.backup-control .servers input {
  --webkit-appearance: none;
  appearance: none;
  display: none;
}
.backup-control .servers .server {
  border: 2px solid #eee;
  position: relative;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .backup-control .servers {
    flex-wrap: wrap;
  }
}

.backup-control .servers label {
  cursor: pointer;
}
.backup-control .servers input:checked + .server {
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
}
.toggle-checkbox {
  --webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}

.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: calc(95% - 24px);
  color: var(--blue-color);
}
/*  End Settings Page */

/*  Start Profile Page */
.profile-page .avatar-box {
  width: 300px;
  border-right: 1px solid #eee;
  padding: 30px;
  text-align: center;
}
@media (max-width: 767px) {
  .profile-page .avatar-box {
    border-right: none;
  }

  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  width: 50%;
  margin: auto;
}
.profile-page .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue-color);
}
.profile-page .info-box {
  flex: 1;
  padding: 20px;
}
.profile-page .info-box .box {
  border-bottom: 1px solid #eee;
  transition: 0.3s;
  padding: 15px;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}

.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0px 0px;
}
.profile-page .toggle-profile {
  width: 90px;
  height: 20px;
}
@media (max-width: 767px) {
  .profile-page .toggle-profile {
    margin: auto;
  }
}
.profile-page .toggle-profile::before {
  width: 16px;
  height: 16px;
  top: 2px;
  left: 3px;
}
.toggle-checkbox:checked + .toggle-profile::before {
  left: calc(95% - 16px);
}
.profile-page .info-box .box > h4 {
  font-weight: normal;
}

@media (max-width: 767px) {
  .profile-page .other-data {
    flex-direction: column;
  }
}

.profile-page .skills-card {
  flex-grow: 1;
}
.profile-page .skills-card ul li {
  padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span {
  display: inline-block;
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-size: 14px;
}
.profile-page .activities {
  flex-grow: 2;
}

.profile-page .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.profile-page .activity img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-page .activity .date {
  margin-left: auto;
}
@media (max-width: 767px) {
  .profile-page .activity {
    flex-direction: column;
    text-align: center;
  }
  .profile-page .activity img {
    width: 90px;
    height: 90px;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .profile-page .activity .date {
    margin-top: 15px;
  }
}
/*  End Profile Page */
/*  Start Projects Page */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .projects-page {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
  }
}
.projects-page .date {
  position: absolute;
  right: 14px;
  top: 10px;
}
.projects-page h4 {
  font-weight: normal;
}
.projects-page .team {
  position: relative;
  min-height: 80px;
}
.projects-page .team {
  margin-top: 30px;
}
.projects-page .team a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: -14px;
  border: 2px solid white;
}
.projects-page .techs {
  justify-content: flex-end;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
@media (max-width: 767px) {
  .projects-page .techs {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
  }
}
.projects-page .info {
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
}

@media (max-width: 767px) {
  .projects-page .info {
    flex-direction: column;
    gap: 15px;
  }
}
.projects-page .project .prog {
  height: 8px;
  width: 280px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
.projects-page .project .prog span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue-alt-color);
}

/*  End Projects Page */

/*  Start Courses Page */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
  }
}
.courses-page .course {
  overflow: hidden;
}
.courses-page .cover {
  width: 100%;
}
.courses-page .instructor {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  border: 2px solid white;
}
.courses-page .info {
  border-top: 1px solid #eee;
}
.courses-page .info .title {
  position: absolute;
  left: 50%;
  top: -14px;
  font-size: 13px;
  transform: translateX(-50%);
}

/*  End Courses Page */

/*  Start Friends Page */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
  }
}
.friends-page .contact {
  left: 10px;
  top: 10px;
  position: absolute;
}
.friends-page .contact i {
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
  color: #666;
  font-size: 13px;
  cursor: pointer;
  transition: 0.5s;
}
.friends-page .contact i:hover {
  background-color: var(--blue-color);
  color: white;
}
.friends-page .icons {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.friends-page .icons i {
  margin-right: 5px;
}
.friends-page .icons .vip {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  opacity: 0.3;
}
/*  End Friends Page */

/*  Start Files Page */
.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}
.files-page .files-stats {
  min-width: 260px;
}

.files-page .files-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.files-page .files-stats .size {
  margin-left: auto;
}

.files-page .files-stats .blue {
  background-color: rgba(0, 177, 255, 20%);
  border-radius: 5px;
}
.files-page .files-stats .green {
  background-color: rgba(34, 197, 94, 20%);
  border-radius: 5px;
}
.files-page .files-stats .red {
  border-radius: 5px;
  background-color: rgba(244, 67, 54, 20%);
}
.files-page .files-stats .orange {
  border-radius: 5px;
  background-color: rgba(245, 158, 11, 20%);
}
.files-page .files-stats .upload {
  margin: auto;
  transition: 0.2s;
}
.files-page .files-stats .upload:hover {
  transform: scale(1.2) rotate(2deg);
}
.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: unset;
  }
}
.files-page .files-content img {
  width: 64px;
  height: 64px;
  transform: 0.5s;
}
.files-page .files-content .info {
  border-top: 1px solid #eee;
}

/*  End Files Page */
